.preloader{
	display: flex;
	background-color:#282828;
	height:100dvh;
	width:100vw;
	position:fixed;
	z-index: 100;
	align-items: center;
	justify-content:center;
	bottom:0;
}
.loader {
	height: 80px;
	aspect-ratio: 1;
	position: relative;
  }
  .loader::before,
  .loader::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50%;
	transform-origin: bottom;
  }
  .loader::after {
	background:
	  radial-gradient(at 75% 15%,#fffb,#0000 35%),
	  radial-gradient(at 80% 40%,#0000,#0008),
	  radial-gradient(circle  10px,#fff 94%,#0000),
	  radial-gradient(circle 17px,#000 94%,#0000),
	  linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
	  linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
	  #000;
	background-repeat: no-repeat;
	animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
  }
  .loader::before {
	background:#ddd;
	filter: blur(8px);
	transform: scaleY(0.4) translate(-13px, 0px);
  }
  @keyframes l20 { 
   30%,70% {transform:rotate(0deg)}
   49.99%  {transform:rotate(0.2deg)}
   50%     {transform:rotate(-0.2deg)}
  }
*{
  margin:0;
  padding:0;
  font-family: "Mukta", sans-serif;
  transition: all 350ms linear;
  color:#cfdfef;
}

.backbtn{
	font-size:3.2rem;
}

body{
	background-color: #282828;
	max-width:100vw;
	overflow-x:none;
}
.top{
	padding:1.5rem;
}
.header{
  display: flex;
  justify-content:space-evenly;
  flex-wrap:wrap;
  gap:3rem;
}
.midsec{
	margin-top:2rem;
	display: flex;
	flex-direction:column;
	gap:2rem;
}
.midsec h2{
	
	text-align: center;
	font-size:3rem;
	
}
.imgBox{
display: flex;
flex-direction: column;
align-items: center;
}

.Abilities{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
	
}

details{
	border-radius:3px;
	/* margin:10px; */
	
}
details p{
	font-size:20px;
	background-color:rgba(128, 128, 128, 0.395);
	padding:10px;
	border-radius:0 20px 20px 20px;
	max-height:150px;
	overflow-y:scroll;
	scrollbar-width:none;
	&::selection{
		color:black;
		background-color:#ffe62d97;
	}
}

summary{
	position: relative;
	border-radius:10px;
	font-size:30px;
	padding:10px;
	font-weight:550;
	box-shadow: 0 0 0 0 #ffe62d3f;
	animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 0.8);
	&:hover{
		cursor: pointer;
	}
}
.pulse-animation{
	animation:none;
}

@keyframes pulse {to {box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);}}

summary:hover{
	animation:none;
}

summary::marker{
	content:"😒 ";
}

details[open] summary::marker{
	content: "😁 ";
}
details[open] p{
	width:300px;
}
.poketype{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap:1.5rem;
  font-weight:550;
}
.type{
	display: flex;
	gap:1rem;
}
.poketype p{
	font-size:25px;
}
.span0{
  display:inline-block;
  font-size:30px;
  width:8rem;
  text-align:center;
  border-radius:10px;
}
.span1{
  display:inline-block;
  font-size:30px;
  width:8rem;
  text-align:center;
  border-radius:10px;
}
img{
  /* width:30vw; */
  height:40vh;
}
h1{
  text-align: center;
  font-size:100px;
  color: #ffe62d;
}
.poketype h3{
	font-size:26px;
}
.imgfoot{
	gap:5rem;
	display: flex;
	justify-content: space-between;
}
button{
	background-color: #282828;
	border:none;
	font-size:27px;
}
li{ 
	list-style-type: none;
}

.skills{ 
	width: 300px;
	color: black;
  
}
.skills h3{
	padding:0.5rem;
}
.skills li{
	margin: 20px 0;
}

.bar{ 
	background-color: #353b48;
	display: block;
	height: 7px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	

}

.bar span{ 
	height: 7px;
	float: left;
}

.Hp{ 
  background-color: lightgreen;
	width: 90%;
	animation: Hp 1.5s;
}

.Attack{ 
  background-color:rgba(255, 0, 0, 0.715);
	animation: Attack 1.8s;
}

.specialAttack{
  background-color: rgba(255, 0, 0, 0.715);
  animation: spattack 2.2s;
}

.Defense{ 
  background-color:#2187e7b3;
	animation: Defense 2.5s;
}

.specialDefense{
  background-color: #2187e7b3;
  animation: spdefense 1s;
}

.Speed{ 
  background-color:yellow;
	animation: Speed 2.5s;
}


@keyframes Hp{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

@keyframes Attack{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}
@keyframes spattack{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}


@keyframes Defense{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}
@keyframes spdefense{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

@keyframes Speed{ 
	0%{
		width: 0%;
	}

	100%{
		width: 100%;
	}
}

footer{
	margin-top:1.5rem;
    box-shadow: rgba(0, 0, 0, 0.45) 1px 2px 50px 0px inset;
}

  footer div{
    font-size:3rem;
    display: flex;
    justify-content: center;
    gap:3rem;
    padding:2.5rem;
    
  }

 #discord{
    transition:all 100ms linear;
     border-radius:35%;
     &:hover{
        background-color: black ;
      color: #7289da;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
}
#email{
    text-align: center;
    transition:all 100ms linear;
    height:50px;
    width:60px;
    border-radius:15%;
     &:hover{
        color:white;
        background-color: #880808;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
}
#git{
    transition:all 100ms linear;
    border-radius:50%;
     &:hover{
        color:white;
        background-color:black;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
} 
@media only screen and (max-width:600px) {
	
	h1{
		font-size:3.8rem;
	}
	.poketype h3{
		font-size:20px;
	}
	.poketype{
		flex-wrap:wrap;
		flex-direction:row;
	}
	/* img{
		width:50vw;
	} */
	.header{
		margin-top:2rem;
	}
	summary{
		font-size:23px;
	}
	.Abilities{
		gap:2rem;
	}
	.top{
		padding:1rem;

	}
	.midsec{
		min-height:20vh;
	}
	.skills{
		
		margin:0;
	}
	
	.backbtn{
		font-size:3rem;
	}
	
}
