.preloader{
	display: flex;
	background-color:#282828;
	height:100dvh;
	width:100vw;
	position:fixed;
	z-index: 100;
	align-items: center;
	justify-content:center;
	bottom:0;
}
.loader {
	height: 80px;
	aspect-ratio: 1;
	position: relative;
  }
  .loader::before,
  .loader::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 50%;
	transform-origin: bottom;
  }
  .loader::after {
	background:
	  radial-gradient(at 75% 15%,#fffb,#0000 35%),
	  radial-gradient(at 80% 40%,#0000,#0008),
	  radial-gradient(circle  10px,#fff 94%,#0000),
	  radial-gradient(circle 17px,#000 94%,#0000),
	  linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
	  linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
	  #000;
	background-repeat: no-repeat;
	animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
  }
  .loader::before {
	background:#ddd;
	filter: blur(8px);
	transform: scaleY(0.4) translate(-13px, 0px);
  }
  @keyframes l20 { 
   30%,70% {transform:rotate(0deg)}
   49.99%  {transform:rotate(0.2deg)}
   50%     {transform:rotate(-0.2deg)}
  }

*{
    margin:0;
    padding:0;
    font-family: "Pixelify Sans", sans-serif;
     transition: all 130ms linear;
     color:#cfdfef;
}
 body{
    display: flex;
    flex-direction: column;
    gap:2rem;
    background-color: #282828;
   /* background-color:#F9F6EE; */
 }
 html{
    scroll-behavior: smooth;
 }
 .top  {
    display:flex;
    justify-content:space-between;
    gap:6rem;
 }
.searchform{
    display: flex;
    flex-direction:column;
    margin-top:1.5rem;
    flex-wrap: wrap;
    border-radius:13px;
    font-size:1.3rem;
}
.resultbox{
    font-size:25px;
}
.resultbox ul{
    list-style-type: none;
    padding:10px 10px;
    position:absolute;
    background-color:rgba(169, 169, 169, 0.752);
    width:26vw;
    max-height:10rem;
    overflow-y: scroll;
    border-radius:10px;
    margin-left:5px;
}
li:hover{
    background-color:rgba(255, 166, 0, 0.508);
}
.resultbox li{
    padding:0.3rem;
    color:rgba(0, 0, 0, 0.711);
    text-align: center;
    cursor:pointer;
    border-radius:10px;
    transition: none;
}
.afterBody{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.container{
    justify-content:center;
    align-items:center;
    display: flex;
    gap:5rem;  
    flex-wrap:wrap;
}

.mian-box{
    
    display: flex;
    flex-direction: column;
}

.box {
    background-color:#3a4042;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:250px;
    border-radius:10%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.348) ;
    
} 

input{
    border:none;
    box-shadow: 0px 0px 10px 3px rgba(74,74,74,1) inset,
    0px 1px 2px 0px rgba(0,0,0,0.24);
    color:black;
    height:2.3rem;
    border-radius:15px;
    &:focus{
        outline: none;
    }
}
.box:hover{
    cursor:pointer;
   transform: scale(1.1);
   background-color: #2d3335;
   box-shadow: 0px 0px 30px 10px #8b8b8b;
}
.header{
    padding:0;
    display: flex;
    justify-content:space-around;
    padding:3rem;
    align-items: center;
    position: relative;
}
.header::before{
    content:'';
    position: absolute;
    inset:0;
    z-index:-1;
    background-color:rgba(0, 0, 0, 0.527) ;
}
video{
    height:100%;
    width:100%;
    top:0;
    left:0;
    overflow: hidden;
    position: absolute;
    object-fit: cover;
    z-index:-2;
 }
input{
    width: 27vw;
    font-size:20px;
    padding-left:10px;
    height:2.5rem;
}
p{
    color:black;
    text-align:center;
    width:2.5rem;
    background-color: #ffe62d;
    font-weight:550;
    font-size:20px;
    border-radius: 12px 12px 46px 12px;

}
span {
    color:black;
    text-align:center;
    border-radius:0.5rem;
    font-size:17px;
    width:120%;
    padding:2px;
}
img{
    width:auto;
    height:200px;
    border-bottom:1px solid black;
    
}
.boxFoot{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    margin:0 1.5rem 1.5rem 1.5rem;
    font-size:20px;
}
.footer{
    display: flex;
    justify-content:center;
    gap:3rem;
    
}
.name{
    margin:0 0 0.7rem 1rem;
}
h2{
    text-align: center;
}
h1{
    color:#ffe62d;
    font-size:5rem;
    margin: 1rem 0 0 1rem;
}
button{
    text-align:center;
    border-radius:50%;
    border: none;
    background: none;
    font-size:2.8rem;
}


footer{
    box-shadow: rgba(0, 0, 0, 0.45) 1px 2px 50px 0px inset;
}
footer h3{
    font-size:1.7rem;
    margin:10px;
}
  footer div{
    font-size:3rem;
    display: flex;
    justify-content: center;
    gap:3rem;
    padding:2.5rem;
    
  }

 #discord{
    transition:all 100ms linear;
     border-radius:35%;
     &:hover{
        background-color: black ;
      color: #7289da;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
}
#email{
    text-align: center;
    transition:all 100ms linear;
    height:50px;
    width:60px;
    border-radius:15%;
     &:hover{
        color:white;
        background-color: #880808;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
}
#git{
    transition:all 100ms linear;
    border-radius:50%;
     &:hover{
        color:white;
        background-color:black;
    box-shadow: 0px 0px 30px 10px #8b8b8b;
  }
} 

  

@media  only screen and (max-width :900px) {
    .container{
        gap:4rem;
        width:100vw;
    }
    .box{
        
        width:200px;
    }

    img{
        align-self: center;
        width:100px;
    }

    .name{
        font-size:20px;
    }

     button{
        font-size:2.5rem;
        border:1px solid balck;
    }

}
@media  only screen and (max-width :600px) {

    body{
        width:100vw;
    }
    .container{
        width:100vw;
        gap:2rem;
    }

    .box{
        
        width:70vw;
    }

    img{
        align-self: center;
        width:auto;
    }

    .name{
        font-size:17px;
    }

    button{
        font-size:2rem;
    }

    h1{
       font-size:3rem;
    }

    .header{
        flex-wrap:wrap ;
        align-items:start;
        padding:2rem;
    }

    input{
        width:70vw;
        margin-left:0.5rem;
    }
    .resultbox ul{
        width:70vw;
    }
    button{
        font-size:30px;
    }

    body{
        gap:2rem;
    }


    .boxFoot{
        margin:0 1.5rem 1.5rem 0.5rem;
    }
    
    .resultbox ul{
        width:70vw;
        text-align:center;
        padding:0;
        margin-left:1.5rem;
    }
    .top{
     
        gap:0.5rem;
     
        
    }
    footer{
        padding-top:0.5rem;
        flex-wrap:wrap;
    }
    footer h3{
        text-align: center;
    }
    footer div{
        font-size:2.5rem;
    }
    
}

