*{
    margin:0;
    padding:0;
    font-family: "Pixelify Sans", sans-serif;
     transition: all 130ms linear;
}
 body{
    display: flex;
    flex-direction: column;
    gap:2rem;
   background-color:#F9F6EE;
 }
 html{
    scroll-behavior: smooth;
 }
 .top  {
    display:flex;
    justify-content:space-between;
    gap:6rem;
 }
.searchform{
    display: flex;
    flex-direction:column;
    margin-top:1.5rem;
    flex-wrap: wrap;
    border-radius:13px;
    font-size:1.3rem;
}
.resultbox{
    font-size:25px;
}
.resultbox ul{
    list-style-type: none;
    padding:10px 10px;
    position:absolute;
    background-color:rgba(169, 169, 169, 0.752);
    width:26vw;
    max-height:10rem;
    overflow-y: scroll;
    border-radius:10px;
    margin-left:5px;
}
li:hover{
    background-color:rgba(255, 166, 0, 0.508);
}
.resultbox li{
    /* padding:10px 10px; */
    text-align: center;
    cursor:pointer;
    border-radius:10px;
    transition: none;
}
.afterBody{
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.container{
    justify-content:center;
    align-items:center;
    display: flex;
    gap:5rem;  
    flex-wrap:wrap;
}

.mian-box{
    display: flex;
    flex-direction: column;
}

.box {
    background-color:rgba(128, 128, 128, 0.311);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:250px;
    border-radius:10%;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.348);

    
} 

input{
    height:2.3rem;
    border-radius:17px;
    &:focus{
        outline: none;
    }
}
.box:hover{
    cursor:pointer;
   transform: scale(1.1);
   .dark{
   img{
    border-bottom: 2px solid goldenrod;
   }
}
}
.header{
    padding:0;
    display: flex;
    justify-content:space-around;
    margin:0 0 2rem 1rem;
    align-items: center;
    
}
input{
    width: 27vw;
    font-size:20px;
    padding-left:10px;
    height:2.5rem;
}
p{
    text-align:center;
    width:2.5rem;
    background-color: skyblue;
    font-weight:550;
    font-size:20px;
    border-radius: 12px 12px 46px 12px;

}
span {
    text-align:center;
    border-radius:0.5rem;
    font-size:17px;
    width:120%;
    padding:2px;
}
img{
    width:auto;
    height:200px;
    border-bottom:1px solid black;
    
}
.boxFoot{
    display: flex;
    justify-content: space-between;
    gap:1rem;
    margin:0 1.5rem 1.5rem 1.5rem;
    font-size:20px;
}
.footer{
    display: flex;
    justify-content:center;
    gap:3rem;
    
}
.name{
    margin:0 0 0.7rem 1rem;
}
h2{
    text-align: center;
}
h1{
    font-size:5rem;
    margin: 1rem 0 0 1rem;
}
button{
    text-align:center;
    border-radius:50%;
    border: none;
    background: none;
    font-size:2.8rem;
}

.switch {
    position: relative;
    display:inline-block;
    width: 47px;
    height: 34px;
    margin-top:1.8rem;
    
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

footer{
    box-shadow: rgba(0, 0, 0, 0.45) 1px 1px 40px 0px inset;
}
footer h3{
    font-size:1.7rem;
    margin:10px;
}
  footer div{
    font-size:2.5rem;
    display: flex;
    justify-content: center;
    gap:3rem;
    padding:2.5rem;
    
  }
  footer i{
    color:black;
   &:hover{
    color:#2196F3
   }
  }
  

  
.dark{
    /* background-color:rgba(0, 0, 0, 0.866); */
    p{
        color:white;
    }
    background-color: #212121;
    .box{
        background-color: #3a4042;
    }
    h2{
        color:white;
    }
     button{
        color:white;
     }
     h1{
        text-shadow: rgba(0, 255, 238, 0.745) 0px 0px 69px;
        color:rgb(170, 0, 0);
     }
     .box:hover{
        box-shadow: 0px 0px 30px 10px #8ecccc;
     }
        p{
            background-color: rgb(133, 0, 0);
        }
     footer{
        color:white;
     }
     footer i{
        color: white;
        &:hover{
            color:rgb(133, 0, 0);
        }
     }
}

@media  only screen and (max-width :900px) {
    .container{
        gap:4rem;
        width:100vw;
    }
    .box{
        
        width:200px;
    }

    img{
        align-self: center;
        width:100px;
    }

    .name{
        font-size:20px;
    }

     button{
        font-size:2.5rem;
        border:1px solid balck;
    }

}
@media  only screen and (max-width :600px) {

    body{
        width:100vw;
    }
    .container{
        width:100vw;
        gap:2rem;
    }

    .box{
        
        width:70vw;
    }

    img{
        align-self: center;
        width:auto;
    }

    .name{
        font-size:17px;
    }

    button{
        font-size:2rem;
    }

    h1{
       text-align:center;
        font-size:4 rem;
       margin:0;
    }

    .header{
        flex-wrap:wrap ;
        align-items:start;
        gap:1rem;
        /* margin:1rem; */
        margin:0;
        align-items: center;
    }

    input{
        width:70vw;
        margin-left:0.5rem;
    }
    .resultbox ul{
        width:70vw;
    }
    button{
        font-size:30px;
    }

    body{
        gap:2rem;
    }


    .boxFoot{
        margin:0 1.5rem 1.5rem 0.5rem;
    }
    
    .resultbox ul{
        width:70vw;
        text-align:center;
        padding:0;
        margin-left:1.5rem;
    }
    .top{
     
        gap:0.5rem;
     
        
    }
    footer div{
        padding:1.5rem;
    }
    
}

